body {
    margin: 0;
}
canvas {
    box-sizing: border-box;
    border: solid 1px deeppink;
    max-height: 95vh;
    max-width: 95vw;
    text-align: center;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}